@import "colors"

header
    padding: 24px 0px 32px 0px

.bigHeader
    padding: 48px 0px 64px 0px

.coloredBackground
    background: linear-gradient(to left, #e66465, #9198e5)

.wave
    margin-top: -32px
    margin-bottom: -32px

.greetingNameHandler
    display: flex
    flex-direction: row
    align-items: center
    color: white

.greetingMsg
    opacity: .7
    display: block
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 0px
    color: white

.greetingName
    display: inline
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 16px
    color: white

.profileImage
    display: inline
    border-radius: 50%   