@import "colors"

header
    padding: 24px 0px 32px 0px
    background: #ddd6f3

.bigHeader
    padding: 48px 0px 64px 0px

.coloredBackground0
    background: linear-gradient(to left, #ddd6f3, #faaca8)

.coloredBackground1
    background-color: #f39f86
    background-image: linear-gradient(to right, #f39f86, #f9d976)

.coloredBackground2
    background-color: #fad0c4
    background-image: linear-gradient(to left, #fad0c4, #f1a7f1)

.coloredBackground3
    background-color: #f8ceec
    background-image: linear-gradient(to left, #f8ceec, #a88beb)

.coloredBackground4
    background-color: #abe9cd
    background-image: linear-gradient(to left, #abe9cd, #3eadcf)

.wave
    margin-top: -32px
    margin-bottom: -32px

.greetingNameHandler
    display: flex
    flex-direction: row
    align-items: center
    color: white

.greetingMsg
    opacity: .7
    display: block
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 0px
    color: white

.greetingName
    display: inline
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 16px
    color: white

.profileImage
    display: inline
    border-radius: 50%
