@import "colors"

header
    padding: 24px 0px 32px 0px
    background: #ddd6f3

.bigHeader
    padding: 48px 0px 64px 0px

.coloredBackground0
    background: linear-gradient(to left, #ddd6f3, #faaca8)

.coloredBackground1
    background-color: #f39f86
    background-image: linear-gradient(to right, #f39f86, #f9d976)

.coloredBackground2
    background-color: #fad0c4
    background-image: linear-gradient(to left, #fad0c4, #f1a7f1)

.coloredBackground3
    background-color: #f8ceec
    background-image: linear-gradient(to left, #f8ceec, #a88beb)

.coloredBackground4
    background-color: #abe9cd
    background-image: linear-gradient(to left, #abe9cd, #3eadcf)

.wave
    margin-top: -32px
    margin-bottom: -32px

.greetingNameHandler
    display: flex
    flex-direction: row
    align-items: center
    color: white

.greetingMsg
    opacity: .7
    display: block
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 0px
    color: white

.greetingName
    display: inline
    font-size: 2em
    font-weight: bold
    margin: 0px 16px 0px 16px
    color: white

.profileImage
    display: inline
    border-radius: 50%
    background-size: contain
    background-repeat: no-repeat

.loginPage
    position: fixed
    bottom: 0px
    left: 0px
    display: flex
    width: 100%
    height: 100%
    background-color: #f8ceec
    background-image: linear-gradient(to left, #f8ceec, #a88beb)
    flex-direction: row
    align-items: center
    justify-content: center
    z-index: 0

.loginWave
    position: fixed
    bottom: 0px
    left: 0px
    width: 100%
    z-index: 0

.zindex1
    z-index: 1

.tintHandler
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, .3)
    z-index: 1

.attachmentViewer
    position: fixed
    top: 32px
    left: 32px
    width: calc(100% - 64px)
    height: calc(100% - 64px)
    border-radius: 16px
    padding-bottom: 36px
    z-index: 2
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    img
        height: 100%
        width: 100%

.attachmentClose
    position: fixed
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    width: 30px
    height: 30px
    font-size: .7em
    top: 4px
    right: 4px
    border-radius: 50%
    cursor: pointer
    z-index: 4

.privateChat
    display: inline
    padding: 4px 8px
    border-radius: 6px
    background-color: #4dccc6
    background-image: linear-gradient(315deg, darken(rgb(194,226,230), 2%), rgb(194,226,230))
    font-size: .74em
    font-weight: bold
    text-transform: uppercase
    color: darken(rgb(194,226,230), 50%)
    cursor: pointer
    margin-left: 12px

.popupChatHandler
    position: fixed
    bottom: 32px
    right: 32px
    width: calc(100% - 64px)
    height: calc(100% - 64px)
    max-width: 420px
    max-height: 700px
    background-color: $backgroundColor
    border-radius: 16px
    padding-bottom: 36px
    z-index: 2

    .chatClose
        position: absolute
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 30px
        height: 30px
        font-size: .7em
        top: 4px
        right: 4px
        border-radius: 50%
        cursor: pointer

    .chatInput
        width: calc(100% - 36px)
        height: 36px
        padding: 6px 0px 6px 12px
        border-radius: 0px 0px 0px 16px
        border: none
        background-color: rgb(207, 214, 222)
        color: $textColor
        overflow: auto
        outline: none
        -webkit-box-shadow: none
        -moz-box-shadow: none
        box-shadow: none
        resize: none
        transition: .1s

    .chatInputHandler
        display: inline-flex
        height: 36px

    .sendInput
        margin-bottom: -2px
        display: inline-flex
        height: 35px
        width: 36px
        font-size: .8em
        border-radius: 0px 0px 16px 0px
        border: none
        background-color: rgb(207, 214, 222)
        color: $textColor
        flex-direction: row
        align-items: center
        justify-content: center
        cursor: pointer

    .chatHandler
        height: 100%
        width: 100%
        overflow-y: scroll
        display: flex
        flex-direction: column
        padding: 16px

    .sendLine
        width: 100%
